
* {
    font-family: Arial, Verdana, sans-serif;
}

div {
    display: flex;
    justify-content: center;
}

#headline {
    font-size: 4rem;
    padding: 0.5rem;
    font-weight: bold;

    @media (max-width: 50rem) {
        font-size: 3rem;
    }
}

#subheading {
    font-size: 1.2rem;
    color: #333333;
}

.info {
    background-color: indianred;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    border: 0.2rem solid darkred;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
    display: none;
}

#main-body {
    display: flex;
    flex-direction: row;

    @media (max-width: 50rem) {
        flex-direction: column;
    }
}

#canvas-container {
    padding: 2rem;
}

.canvas-hint {
    z-index: 1;
    position: absolute;
    color: #666666;
}

#canvas-hint-desktop {
    @media (max-width: 32rem) {
        display: none;
    }
}

#canvas-hint-mobile {
    display: none;

    @media (max-width: 32rem) {
        display: flex;
    }
}

#canvas {
    height: 70vmin;
    width: 70vmin;
    border: 1px black solid;
    image-rendering: pixelated;
    z-index: 2;

    @media (max-width: 32rem) {
        width: 90vmin;
        height: 90vmin;
    }
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gravity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

#segmented-button {
    display: inline-flex;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    overflow: hidden;
    width: 14rem;
    margin: 1rem;
}

.segment {
    padding: 0.5rem 2rem;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.segment:not(:last-child) {
    border-right: 1px solid #cccccc;
}

.segment.active {
    background-color: #007bff;
    color: white;
}

.segment:hover:not(.active) {
    background-color: #e0e0e0;
}

#acc-slider-container {
    display: flex;
    flex-direction: column;

    @media (max-width: 50rem) {
        flex-direction: row;
    }

    @media (max-width: 32rem) {
        flex-direction: column;
    }
}

.slider-box {
    padding: 1rem 0.5rem;
    flex-direction: column;
    width: 15rem;
}

.slider {
    cursor: pointer;
}

#reset-button {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

#reset-button:hover {
    background-color: #e0e0e0;
}

#reset-button:active {
    background-color: #007bff;
    color: white;
    transform: scale(0.95);
}
