
* {
    font-family: Arial, Verdana, sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: black;
}

button:not(.segment) {
    transition: all 0.1s ease;
}

button:hover:not(.segment) {
    background-color: #e0e0e0;
}

button:active:not(.segment) {
    background-color: #007bff;
    color: white;
    transform: scale(0.95);
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headline {
    font-size: 4rem;
    padding: 0.5rem;
    font-weight: bold;

    @media (max-width: 55rem) {
        font-size: 3rem;
    }
}

#subheading {
    font-size: 1.2rem;
    color: #333333;
}

#main-body {
    flex-direction: row;

    @media (max-width: 55rem) {
        flex-direction: column;
    }
}

#canvas-container {
    flex-direction: column;
    justify-content: left;
    padding: 2rem;
}

.canvas-hint {
    z-index: 1;
    position: absolute;
    color: #666666;
}

#canvas-hint-desktop {
    @media (max-width: 32rem) {
        display: none;
    }
}

#canvas-hint-mobile {
    display: none;

    @media (max-width: 32rem) {
        display: flex;
    }
}

#canvas {
    height: 70vmin;
    width: 70vmin;
    border: 1px black solid;
    image-rendering: pixelated;
    z-index: 2;

    @media (max-width: 32rem) {
        width: 85vmin;
        height: 85vmin;
    }
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gravity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;

    @media (min-width: 55rem) {
        margin-top: 2rem;
    }
}

.segmented-button {
    border: 1px solid #cccccc;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem 1rem 1rem 1rem;
}

.segment {
    padding: 0.5rem 1.5rem;
    border: none;
    transition: background-color 0.3s ease;
}

.segment:not(:last-child) {
    border-right: 1px solid #cccccc;
}

.segment.active {
    background-color: #007bff;
    color: white;
}

.segment:hover:not(.active) {
    background-color: #e0e0e0;
}

.slider-container {
    flex-direction: column;

    @media (max-width: 55rem) {
        flex-direction: row;
    }

    @media (max-width: 40rem) {
        flex-direction: column;
    }
}

.slider-box {
    padding: 1rem 0.5rem;
    flex-direction: column;
    width: 15rem;
}

.slider-label {
    min-width: 12rem;
}

.slider {
    cursor: pointer;
    min-width: 12rem;
    margin-bottom: 0.5rem;
}

.alert {
    background-color: indianred;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    border: 0.2rem solid darkred;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
    display: none;
}

#reset-button {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
}

.popup-button {
    border: none;
    background: none;
    border-radius: 0.2rem;
}

.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    max-width: 85vw;
    padding: 1vw 5vw 2.5vw 5vw;
    border: 1px solid #666666;
    border-radius: 0.5rem;
    z-index: 5;
    top: 20%
}

#popup-blur {
    display: none;
    position: fixed;
    z-index: 4;
    background-color: #00000066;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.popup-close-button {
    border: none;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.8rem;
}

#description {
    padding: 2rem 0;
    text-align: justify;
    width: 50vw;

    @media (max-width: 80rem) {
        width: 70vw;
    }

    @media (max-width: 55rem) {
        width: 85vw;
    }
}
